/* Umumiy sozlamalar */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #6a11cb, #2575fc); /* Gradient fon */
    color: #fff; /* Matn rangi */
    line-height: 1.6;
}

header {
    text-align: center;
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.7); /* Qorong'i shafof fon */
    border-radius: 10px;
    margin-top: 20px;
}

h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* So'nib chiqadigan matn */
}

p {
    font-size: 1.2rem;
}

#portfolio, #contact {
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9); /* Yengil shaffof fon */
    max-width: 800px;
    border-radius: 10px;
    color: #333; /* Qorong'i matn rangi */
}

footer {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0; /* Sahnani butun kengligida qoplab turish */
    z-index: 1000; /* Boshqa elementlardan yuqorida turish */
}

a {
    color: #2575fc;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
    background-color: #2575fc;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

a:hover {
    background-color: #6a11cb;
    transform: scale(1.1);
}

/* Animatsiyalar */
@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

header {
    animation: slideIn 1s ease-out;
}

#portfolio, #contact {
    animation: slideIn 1.2s ease-out;
}

/* Mobile Responsiv Dizayn */
@media (max-width: 768px) {
    header {
        padding: 30px;
    }
    h1 {
        font-size: 2rem;
    }
    #portfolio, #contact {
        padding: 15px;
        margin: 10px;
    }
}